In production the activation link along with the activation token should be sent by email to the user. 
In this demo you can activate your account 
a(href='/ate/' + token) by going to this page



In ambiente di produzione il link e il token di attivazione sono inviati tramite mail.
In questo momento, per attivare l'account registrato
a(href='/user/activate/' + token) clicca qui






